.get-inspired {
    width: 90%;
    max-width: 90%;
    margin: 130px auto;
}

.title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.get-inspired > hr {
    width: 250px;
    color: #005dfe;
    background-color: #08bdfe;
    border-bottom: 1px solid #08bdfe;

    margin-bottom: 35px;
    margin-top: 10px;

}

.title-block > p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
}

.title-block > a {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    text-decoration: none;

}

.gallery-row {
    display: flex;
    flex-direction: row;
}

.gallery-photo {
    position: relative;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    
}

.gallery-photo > img {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
}

.gallery-photo > label {
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: #fefefe;
    font-weight: 600;
    font-size: 30px;
    font-family: "Lato", sans-serif;
}